/* Less Space on the top */
#project .project-item > .meta {
    margin-top: 0 !important;
}
#container-content {
    padding-top: 0 !important;
}
/* Less Space on the top */


/* For the title */
#navigator header#topBar ul#nav {
    max-width: 40% !important;
}

#navigator .siteTitle {
    max-width: 44% !important;
}
/* For the title */