/* HIDE TITLE*/

.sqs-hide-title {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #272727), color-stop(1, #1c181c));
   background:-moz-linear-gradient(top, #272727 5%, #1c181c 100%);
   background:-webkit-linear-gradient(top, #272727 5%, #1c181c 100%);
   background:-o-linear-gradient(top, #272727 5%, #1c181c 100%);
   background:-ms-linear-gradient(top, #272727 5%, #1c181c 100%);
   background:linear-gradient(to bottom, #272727 5%, #1c181c 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#272727', endColorstr='#1c181c',GradientType=0);
   background-color:#272727;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:arial;
   font-size:15px;
   padding:11px 23px;
   text-decoration:none;
   text-shadow:0px -1px 0px #2b665e;
}
.sqs-hide-title:hover {
   border-color:#1c181c !important;
}
.sqs-hide-title:active {
   position:relative;
   top:1px;
}

/* HIDE TITLE*/

/* AUTOPLAY */
.sqs-audio-player.play-state-stopped .controls{
   background-image:url('//static.squarespace.com/universal/images-v6/audio-player-play.png')
}

.sqs-audio-player.play-state-playing .controls {
   background-image: url("//static.squarespace.com/universal/images-v6/audio-player-pause.png");
}

.sqs-audio-player .controls {
   background-position: 12px 8px;
   background-repeat: no-repeat;
   cursor: pointer;
   height: 100%;
   left: 0;
   opacity: 0.6;
   position: absolute;
   top: 0;
   transition: opacity 0.2s ease-out 0s;
   width: 32px;
}

.sqs-audio-player {
   background-color: #111;
   background-image: linear-gradient(#444, #111);
   border: 1px solid #333;
   border-radius: 30px;
   color: #6b6b6b;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 11px;
   height: 32px;
   line-height: 12px;
   position: relative;
   width: 100%;
}

.sqs-audio-player .sqs-audio-player-content {
   padding: 10px 119px 10px 36px;
}

/* AUTOPLAY */