/* ZOOM MOBILE */
html.touch #zoom_el .item a div.wrapper {
  height: auto;
  top: auto;
  bottom: 0;
  opacity: 1;
  -webkit-transform: none !important;
  -webkit-transition: none !important;
  background-color: rgba(28, 28, 28, .6);
}
html.touch #zoom_el .item a div.wrapper h3 {
  display: none;
}
html.touch #zoom_el .item a div.wrapper h2 {
  margin: 10px 0;
}
html.touch body.hide-project-title #zoom_el .item a div.wrapper {
  display: none;
}
/* ZOOM MOBILE */

@media only screen and (max-width: 1024px) { /* PHONE/IPAD PORTRAIT */
  #project .project-item > .meta {
   position: relative !important;
    width: 100%;
    margin: 0;
    margin-top: 47px;
    padding: 0 35px 0 32px;
    
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;*/
  }
}

 /* ZOOM IMAGE */
#zoom_el {
  z-index: 3;
  background-color: #000;
}
#zoom_el .item-case {
  padding: 0;
}
#zoom_el .item {
  display: block;
  overflow: hidden;
}
#zoom_el .item a {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: none;
}
#zoom_el .item img {
  opacity: 1;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}
#zoom_el .item img.loading {
  opacity: 0;
}
#zoom_el .item .wrapper {
  position: absolute;
  display: table;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 24px;
  background-color: rgba(28, 28, 28, .7);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}
#zoom_el .item.hovering .wrapper {
  opacity: 1;
  filter: alpha(opacity=100);
}
body.project-hover-zoom .loaded #zoom_el .item img,
body.project-hover-zoom .loaded #zoom_el .item .wrapper {
  -webkit-transition: top 0.2s ease-out, left 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -moz-transition: top 0.2s ease-out, left 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -o-transition: top 0.2s ease-out, left 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: top 0.2s ease-out, left 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}
body.project-hover-zoom .loaded #zoom_el .item img {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
body.project-hover-zoom .loaded #zoom_el .item .wrapper {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
body.project-hover-zoom .loaded #zoom_el .item.hovering img {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
body.project-hover-zoom .loaded #zoom_el .item.hovering .wrapper {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#zoom_el .item a div.wrapper div.project-title {
  display: table-cell;
  vertical-align: middle;
}
#zoom_el .item a div.wrapper div.project-title h2 {
  color: #fff;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.4em;
  font-family: "ff-meta-web-pro";
  font-size: 44px;
  line-height: .9em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px;
  padding: 0 24px;
}
#zoom_el .item a div.wrapper div.project-title h3 {
  color: #fff;
  margin-top: 0;
  font-size: 15px;
  font-family: Georgia, serif;
  font-weight: normal;
  font-family: "ff-meta-web-pro";
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: italic;
  padding: 0 24px;
}
/* ZOOM IMAGE */